@using NET_9_Business_App_MVC.CRUD.Models
@model Department

@if (Model is not null)
{
    <tr>
        <td>@Model.DepartmentId</td>
        <td>@Model.DepartmentName</td>
        <td>@Model.DepartmentLocation</td>
        <td>@Model.DepartmentDescription</td>
        <td>@Model.DepartmentAnnualSales</td>
        <td><a class="btn btn-outline-warning btn-sm" href="/departments/details/@Model.DepartmentId">Edit</a></td>
    </tr>
}