@using NET_9_Business_App_MVC.CRUD.Models
@model Department

<!--called from _DepartmentList.cshtml partial view-->

@if (Model is not null)
    {
        <!--provides info for each Dpartment into its View-->
        <tr >
            <td>@Model.DepartmentId</td>
            <td>@Model.DepartmentName</td>
            <td>@Model.DepartmentLocation</td>
            <td>@Model.DepartmentDescription</td>
            <td>@Model.DepartmentAnnualSales</td>
            <td style="padding-top:0.75rem;"><!--spacing for stylistic reasons-->
                <a class="btn btn-outline-warning btn-sm" href="/Departments/Details/@Model.DepartmentId">Edit</a>
            </td>            
        </tr>
        <!--end Department list item-->
    }
