@using NET_9_Business_App_MVC.Models
@model Department

 <div class='center'>
   <div class="container-fluid">
        <h2 style="color:dodgerblue;">Department Details</h2>
            <br />
     <form method='post' action='/departments/edit/@Model.DepartmentId'>
                <input type='hidden' name='DepartmentId' value='@Model.DepartmentId' />

                <div class="row mb-3" style="text-align:left;">
                    <div class="col-sm-2">
                        <label class="col-form-label">Name: </label>
                    </div>
                    <div class=" col-sm-6">
                        <input type='text' name='DepartmentName' value='@Model.DepartmentName' class="form-control" />
                    </div>
                </div>
                <div class="row mb-3" style="text-align:left;">
                    <div class="col-sm-2">
                        <label class="col-form-label">Location: </label>
                    </div>
                    <div class=" col-sm-6">
                        <input type='text' name='DepartmentLocation' value='@Model.DepartmentLocation' class="form-control" />
                    </div>
                </div>
                <div class="row mb-3" style="text-align:left;">
                    <div class="col-sm-2">
                        <label class="col-form-label">Description: </label>
                    </div>
                    <div class=" col-sm-6">
                        <input type='text' name='DepartmentDescription' value='@Model.DepartmentDescription' class="form-control" />
                    </div>
               
                </div> 
                <button type='submit' class="btn btn-outline-success">Update</button>
                <br /><br />
                <a href='/departments' class="btn btn-outline-warning">Cancel</a>
                
            </form>
     
   </div><!--end container-->

   <form style="padding-left:0.75rem;" method='post' action='/departments/delete/@Model.DepartmentId'>
    <button type='submit' class="btn btn-outline-danger">Delete</button>
   </form>
</div><!--end center class-->

<!--TODO: text area for department description-->
@*  <label for="DepartmentDescription" class="form-label">Department Description</label>
                        <textarea 
                            asp-for="@Model.DepartmentDescription"
                            data-val="true"
                              data-val-maxlength="The field MainText must be a string or array type with a maximum length of &#x27;300&#x27;."
                              data-val-maxlength-max="300"
                              class="form-control"
                              id="DepartmentDescription" rows="3">
                        </textarea> *@